body{
  background-repeat: no-repeat;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 924px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo{
  margin-left: 150px;
}
footer{
  text-align: center;
  display: block;
  width: 960px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

main,aside{
  background-color: white;
}

header {
    display: block;
    width: 100%;
    height: 220px;
    background-color: grey;
    border-bottom: 1px solid black;
}
#nav2{
   display:none;
}
.social{
  display: flex;
    position: relative;
    height: 48px;
    width: 200px;
    top: 165px;
    float: right;
    padding-right: 4em;

}

.socialplus{
  display: none;
}

i {
    margin-right: 20px;
}

ul li{
    height: 50px;
    width: 150px;
    background-color: gray;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
#sak{
  background-color:transparent;
  border: none;
}

ul{
    width: 900px;
}

.line {
    border-left: 1px solid #000;
    height: 580px;
    float: right;
    margin-right: 30px;
}

aside {
    width: 300px;
    height: 590px;
    float: right;

    margin-top: 0px;
    border-left: solid;

}

#gmap_canvas img {
    max-width: none!important;
    background: none!important
  }

.map{
  display:flex;
  height: 200px;
  width: 300px;
  clear: both;
}
.kontakt{
  width: 300px;
  height:355px;
  text-align: center;
}

form {
    width: 350px;
}

#c{
  background-color: #262626;
}

.button {
    position: relative;
    height: 50px;
    width:80px;
    left: -8px;
    border: 2px solid #5e6b77;
    background-color: #5e6b77;
    color: #fafafa;
}

.search {
  height:50px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}


a:link,a:visited{
  display: block;
  color: white;
  text-decoration: none;
}

.social a{
  color:black;
}

.social a:hover{
  background-color: transparent;
  color:white;
}

a:hover{
  background-color: #585858;

}
@media screen and (max-width: 969px){
  #main{
    width: 100%;
  }
  #nav1{
    width: 500px;
  }
  #video{
    visibility: hidden;
  }
  #boksingh{
    visibility: hidden;
  }
  .social{
    display:none;
    visibility: hidden;
  }
  header{
    width: 100%;
  }
  .social {
    width: 20%;
  }
  ul li {
      width: 15%;
    }
  ul{
    width: 90%;
  }
  aside {
      width: 30%;
    }

}
@media screen and (max-width: 676px){
  .search {
      visibility: hidden;
        }
  .button{
      visibility: hidden;
  }

}


@media screen and (max-width: 676px){
  ul li{
    display: block;
    width: 95%;
    margin-top: 1%;
  }
 #nav1, aside, .line, .social{
    display:none;
 }
 .menu{
   display:block;
   width: 95%;
 }
 #nav2, #nav2 li{
    display:block;
   text-align:left;
   font-size: 1.2em;
 }
 #logo{
   float: left;
   margin-left: 0px;
 }
 .socialplus{
   display: block;
     position: relative;
     height: 48px;
     width: 48px;
     top: 165px;
     float: right;
     padding-right: 1em;
 }
 a:link, a:visited{
   text-decoration: none;
   color: white;
 }

a:hover{
 background-color: #585858;
}



#drop {
   display: none;
}

a:active + #drop, a:visited + #drop{
 display:block;


}

#drop li:hover{
background-color: #585858;
}




#drop{
 position:relative;
 z-index: 100;
}

.burger{
 display: block;

 float:left;
 padding-left: 1em;
 margin-right: 1em;
 }

 #link{
   display: block;
   width: 100%;
   height: 50px;


 }
  #main{
    height: 1120px;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait){
   ul li{
     display: block;
     width: 95%;
     margin-top: 1%;
   }
  #nav1, aside, .line, .social{
     display:none;
  }
  .menu{
    display:block;
    width: 95%;
  }
  #nav2, #nav2 li{
     display:block;
    text-align:left;
    font-size: 1.2em;
  }
  #logo{
    float: left;
    margin-left: 0px;
  }
  .socialplus{
    display: block;
      position: relative;
      height: 48px;
      width: 48px;
      top: 165px;
      float: right;
      padding-right: 1em;
  }
  a:link, a:visited{
    text-decoration: none;
    color: white;
  }

a:hover{
  background-color: #585858;
}



#drop {
    display: none;
}

a:active + #drop, a:visited + #drop{
  display:block;


}

#drop li:hover{
background-color: #585858;
}




#drop{
  position:relative;
  z-index: 100;
}

.burger{
  display: block;

  float:left;
  padding-left: 1em;
  margin-right: 1em;
  }

  #link{
    display: block;
    width: 100%;
    height: 50px;


  }
   #main{
     height: 1120px;
   }
}

/* boksing */
#boksing{
  width: 300px;
  height: 200px;
  float: left;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#tekst{
  display: block;
  width: 600px;
  float: left;
}
#hboksing{
  margin-left: 37px;
}
section{
  margin-left: 10px;
}
#video{
  width: 500px;
  height: 400px;
  margin-right: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
}
#mainboksing{
  width: 1150px;
}
h3{
  margin: 40px;
}
/*karriere */
#kmike{
  float: right;
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skar{
  margin-left: 20px;
}
#hkar{
  display: block;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: none;
}
